.HomeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    text-align: right;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-title {
    color: #a8a8a8;
    font-weight: bold;
    margin-bottom: 10px;
}