.Resources {
    background: radial-gradient(circle at center, #040406, #13111C 60%, #040406 100%);
    color: white;
    box-shadow: inset 0 0 30px rgba(0, 162, 255, 0.2),
        inset 0 0 40px rgba(255, 255, 255, 0.1);
}

.HomeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    text-align: right;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.card-title {
    color: #a8a8a8;
    font-weight: bold;
    margin: 10px 0px;
}

.Chosen {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 15px;
}

.Chosen:hover .card {
    transform: translateY(-1px);
}

.Chosen:hover .card-title {
    color: white;
}