.HomeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    text-align: right;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.card-title {
    color: #a8a8a8;
    font-weight: bold;
    margin: 10px 0px;
}

.Chosen {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 15px;
}

.Chosen:hover .card {
    transform: translateY(-1px);
}

.Chosen:hover .card-title {
    color: white;
}